@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Oranienbaum","姫明朝しらゆき mini",sans-serif;
  scroll-behavior: smooth;
}

.all-wrapper {
  width: 100%;
  overflow: hidden;
}

.titles h1 {
  text-align: center;
  margin: 35px;
  font-weight: bold;
  font-size: 6vw;
  color: #000;
}

.btn {
  position: absolute;
  top: 15px;
  left: 45px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #1B1B1B;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: left 0.4s ease;
  transition: left 0.4s ease;
}

.btn.click {
  left: 260px;
  position: fixed;
  z-index: 9999;
}

.btn span {
  color: white;
  font-size: 28px;
  line-height: 45px;
}

.btn.click span:before {
  content: '\f00d';
}

.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  background: black;
  -webkit-transition: left 0.4s ease;
  transition: left 0.4s ease;
}

.sidebar.show {
  left: 0px;
  z-index: 9998;
}

.logo a {
  display: block;
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  letter-spacing: 1px;
}

nav ul {
  height: 100%;
  width: 100%;
  list-style: none;
}

nav ul li {
  line-height: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-family: "姫明朝しらゆき mini";
}

nav ul li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

nav ul li.active a {
  color: #6927FF;
  background: #1E1E1E;
  border-left-color: #6927FF;
}

nav ul li a:hover {
  background: #1E1E1E;
}

nav ul ul {
  position: static;
  display: none;
}

nav ul .feat-show.show {
  display: block;
}

nav ul .serv-show.show1 {
  display: block;
}

nav ul ul li {
  line-height: 42px;
  border-top: none;
}

nav ul ul li a {
  font-size: 17px;
  color: #E6E6E6;
  padding-left: 80px;
}

nav ul li.active ul li a {
  color: #E6E6E6;
  background: #1B1B1B;
  border-left-color: transparent;
}

nav ul li a:hover {
  color: #6927FF !important;
  background: #1E1E1E !important;
}

.contents-wrapper {
  width: 100%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.contents-wrapper.show {
  width: 85%;
  margin-left: 15%;
}

.top-tytle {
  background: url(images/top.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.top-tytle h1 {
  color: white;
  font-size: 10vw;
  position: relative;
  top: 55vh;
  left: 40vh;
  text-shadow: 3px 3px 20px #6927FF;
}

.recipes {
  margin-top: 2.5%;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.recipes_inner {
  position: relative;
}

.recipes_icon {
  background-color: black;
  margin: 3%;
}

.recipes_icon h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4vw;
  opacity: 0;
}

.recipes_icon h4:hover {
  opacity: 1;
}

.recipes_icon img {
  display: block;
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  opacity: 1;
}

.recipes_icon img:hover {
  opacity: 0.6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.recipes_icon.whip img {
  -o-object-position: bottom;
     object-position: bottom;
}

.drip_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
}

.drip_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border: 7px solid;
  border-color: black;
  -webkit-box-shadow: 5px;
          box-shadow: 5px;
}

.drip_step1 {
  background-image: url("images/drip-1.jpg");
  background-size: cover;
}

.drip_step2 {
  background-image: url("images/howtodrip.jpg");
  background-size: cover;
}

.drip_step3 {
  background-image: url("images/howtodrip3.jpg");
  background-size: cover;
}

.drip_step4 {
  background-image: url("images/howtodrip4.jpg");
  background-size: cover;
}

.drip_section:hover {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.drip_section h3 {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  font-size: 55px;
  font-family: tahoma;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  text-shadow: 10px 10px 10px black;
}

.drip_section_inner {
  height: 100%;
  opacity: 0;
  padding: 8% 5% 5% 20%;
}

.drip_section_inner h4 {
  font-size: 2.5vw;
  margin-bottom: 3%;
  text-shadow: 0px 0px 3px black;
}

.drip_section_inner p {
  font-size: 2vw;
}

.drip_section_inner:hover {
  opacity: 1;
  -webkit-animation: ease-in;
          animation: ease-in;
  -webkit-transition: all .8s ease-in;
  transition: all .8s ease-in;
}

.drip_section:hover h3 {
  position: absolute;
  left: 10%;
  top: 50%;
  margin: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.mugs {
  padding: 0% 5%;
}

.mugs-tabs {
  position: relative;
}

.mugs-tabs-bottons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mugs-tabs-bottons span {
  font-size: 1.6dvw;
  color: #333;
  display: block;
  text-align: center;
  white-space: nowrap;
}

.mugs-tabs-wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom: 3px solid #ddd;
  width: 14.2%;
  height: 40px;
}

.mugs-contents {
  height: 470px;
  padding: 2% 0%;
}

.mugs-contents p {
  display: block;
  width: 50%;
  font-size: 1.3vw;
  padding: 2.5% 2%;
  text-align: left;
  color: black;
}

.mugs-content1, .mugs-content2, .mugs-content3, .mugs-content4, .mugs-content5, .mugs-content6, .mugs-content7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mugs-contents video {
  display: block;
  width: 50%;
}

.cb {
  clear: both;
}

#lamp {
  width: 14.2%;
  height: 2px;
  background: #6927FF;
  display: block;
  position: absolute;
  top: 40px;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}

#lamp.mugs-content2 {
  left: 14.3%;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}

#lamp.mugs-content3 {
  left: 28.6%;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}

#lamp.mugs-content4 {
  left: 42.9%;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}

#lamp.mugs-content5 {
  left: 57.2%;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}

#lamp.mugs-content6 {
  left: 71.5%;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}

#lamp.mugs-content7 {
  left: 85.8%;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}

#lamp.mugs-content1 {
  left: 0%;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}

.beans {
  margin: 20px;
  margin-top: 20vh;
  overflow: hidden;
  background: url(images/beanswithflower.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
  height: auto;
  color: white;
  text-shadow: 5px 2px 3px #808080;
}

.beans_titles {
  color: white;
}

.beans_filter {
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.beans_inner_wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (400px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 400px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 1px;
}

.beans_inner {
  height: 250px;
  margin: 10px;
  position: relative;
  border: 10px double;
  border-color: white;
  -webkit-box-shadow: 5px;
          box-shadow: 5px;
}

.beans_inner p {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 4vw;
}

.beans_inner:last-child {
  margin-bottom: 35px;
}

.beans_caption {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.beans_caption p {
  font-family: serif;
  font-size: 1.5vw;
  text-align: left;
  margin: 10% 0% 10% 5%;
}

.beans_star {
  font-family: "Font Awesome 5 Free";
  font-size: 1.5vw;
  color: #6927FF;
  text-shadow: none;
}

.beans_star:before {
  font-weight: 900;
}

.beans_star:after {
  font-weight: 400;
}

.beans_star[data-rate="0.0"]:before {
  content: "";
}

.beans_star[data-rate="0.5"]:before {
  content: "\f5c0";
}

.beans_star[data-rate="1.0"]:before {
  content: "\f005";
}

.beans_star[data-rate="1.5"]:before {
  content: "\f005\f5c0";
}

.beans_star[data-rate="2.0"]:before {
  content: "\f005\f005";
}

.beans_star[data-rate="2.5"]:before {
  content: "\f005\f005\f5c0";
}

.beans_star[data-rate="3.0"]:before {
  content: "\f005\f005\f005";
}

.beans_star[data-rate="3.5"]:before {
  content: "\f005\f005\f005\f5c0";
}

.beans_star[data-rate="4.0"]:before {
  content: "\f005\f005\f005\f005";
}

.beans_star[data-rate="4.5"]:before {
  content: "\f005\f005\f005\f005\f5c0";
}

.beans_star[data-rate="5.0"]:before {
  content: "\f005\f005\f005\f005\f005";
}

.beans_star[data-rate="0.0"]:after {
  content: "\f005\f005\f005\f005\f005";
}

.beans_star[data-rate="0.5"]:after {
  content: "\f005\f005\f005\f005";
}

.beans_star[data-rate="1.0"]:after {
  content: "\f005\f005\f005\f005";
}

.beans_star[data-rate="1.5"]:after {
  content: "\f005\f005\f005";
}

.beans_star[data-rate="2.0"]:after {
  content: "\f005\f005\f005";
}

.beans_star[data-rate="2.5"]:after {
  content: "\f005\f005";
}

.beans_star[data-rate="3.0"]:after {
  content: "\f005\f005";
}

.beans_star[data-rate="3.5"]:after {
  content: "\f005";
}

.beans_star[data-rate="4.0"]:after {
  content: "\f005";
}

.beans_star[data-rate="4.5"]:after {
  content: "";
}

.beans_star[data-rate="5.0"]:after {
  content: "";
}

.beans_mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: black;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.beans_inner:hover .beans_mask {
  opacity: 1;
  padding-left: 10px;
}

.beans_cb {
  clear: both;
}

.history_bg_style_1, .history_bg_style_2, .history_bg_style_3, .history_bg_style_4, .history_bg_style_5 {
  padding: 5px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
}

.history_bg_style_1 {
  background-image: url("images/history1.jpg");
  background-position: right;
  background-size: 50%;
}

.history_bg_style_2 {
  background-image: url("images/history2.jpg");
  background-size: 70%;
}

.history_bg_style_3 {
  background-image: url("images/history3.jpg");
  background-position: right;
  background-size: 50%;
}

.history_bg_style_4 {
  background-image: url("images/history4.jpg");
  background-size: 50%;
}

.history_bg_style_5 {
  background-image: url("images/history5.jpg");
  background-position: right;
  background-size: 80%;
}

.history_boxs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.history_box {
  background-color: black;
  padding: 2% 6% 2.5% 6%;
}

.history_box h3 {
  font-size: 2.5vw;
  text-align: center;
  margin: 3%;
  white-space: nowrap;
}

.history_box p {
  display: block;
  font-size: 1.6vw;
  margin: 0px;
}
/*# sourceMappingURL=main.css.map */