@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family:"Oranienbaum","姫明朝しらゆき mini",sans-serif;
}

.all-wrapper{
  width: 100%;
  overflow: hidden;
} 

.titles{
  text-align: center;
  margin: 35px;
  font-weight: bold;
  font-size: 40px;

}

.btn{
  position: absolute;
  top: 15px;
  left: 45px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #1b1b1b;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}

.btn.click{ 
  left: 260px;}

.btn span{
  color: white;
  font-size: 28px;
  line-height: 45px;
}

.btn.click span:before{
  content: '\f00d';
}

.sidebar{
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  background: black;
  transition: left 0.4s ease;  
}

.sidebar.show{
  left: 0px;
}

.logo a{
  display: block;
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  letter-spacing: 1px;
}

nav ul{ 
  height: 100%;
  width: 100%;
  list-style: none;
}

nav ul li{
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
  font-family: "姫明朝しらゆき mini";
}

nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

nav ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

nav ul li.active a{
  color:#6927FF;
  background: #1e1e1e;
  border-left-color:#6927FF;
}

nav ul li a:hover{
  background: #1e1e1e;
}

nav ul ul{
  position: static;
  display: none;
}

nav ul .feat-show.show{
  display: block;
}

nav ul .serv-show.show1{
  display: block;
}

nav ul ul li{
  line-height: 42px;
  border-top: none;
}

nav ul ul li a{
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}

nav ul li.active ul li a{
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}

nav  ul li a:hover{
  color:#6927FF!important;
  background: #1e1e1e!important;
}

// -----------------------------------------------------sidebar end  

.contents-wrapper{
  width: 100%;
  transition: 0.4s ease;
}
.contents-wrapper.show{
  width: 85%;
  margin-left: 15%;
}

.top-tytle{
  background: url(images/thought-catalog-1THJ5GRABqI-unsplash.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.top-tytle h1{
  color: white;
  font-size: 80px;
  position: relative;
  top: 55vh;
  left: 40vh;
  text-shadow:3px 3px 20px #6927FF;
}

.recipes{
  height: 100px;
  margin: 30px;  
  
  &_inner{
    float: left;
    width: 33.3%;
  }
  &_icon img{
    display: block;
    width: 100%;
    height: 500px;
    padding: 10px;
    object-fit: cover;
    object-position: left;
  }

  &_icon:last-child img{
    margin-bottom: 40px;
  }

  &_icon.whip img{
     object-position: bottom;
  }
  
}

// recipes end////////////////////////////////////////////////////////////////////

.mugs{

  & h1{
// text-align: center;

  }
  &-tabs{
    width: 80%;
    margin: 10px auto;
    position: relative;
  }
  &-tabs-bottons span{
    font-size:20px;
    color: #333;
    border-bottom: 2px solid #ddd;
    display: block;
    float: left;
    width: 14.2%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
  &-contents{
    width: 80%;
    height: 430px;
    margin: 0 auto;
    // border-bottom: 3px solid #ddd;
    padding:15px;
    color:black;
    font-size: 400 13px;
    // background-color:rgba(233, 238, 250, 0.959);
    // box-shadow: 0 0 10px rgba(0,0,0,.1);
  }

  &-contents p{
    display: block;
    width: 50%;
    font-size:20px;
    padding: 40px 20px;
    float: left;
    text-align:left;
    
  }
  &-contents video{
    display: block;
    width: 50%;
    height:400px;
    float: right;
  }

}

.cb{
  clear: both;
}

#lamp{
  width:14.3%;
  height:2px;
  background:#6927FF;
  display:block;
  position:absolute;
  top:40px;
  transition:all .3s ease-in;
  -o-transition:all .3s ease-in;
  -webkit-transition:all .3s ease-in;
  -moz-transition:all .3s ease-in;
}

#lamp.mugs-content2{
  left: 14.3%;
  transition: all .3s ease-in;
  -o-transition:all .3s ease-in;
  -webkit-transition:all .3s ease-in;
  -moz-transition:all .3s ease-in;
}

#lamp.mugs-content3{
  left: 28.6%;
  transition: all .3s ease-in;
  -o-transition:all .3s ease-in;
  -webkit-transition:all .3s ease-in;
  -moz-transition:all .3s ease-in;
}

#lamp.mugs-content4{
  left: 42.9%;
  transition: all .3s ease-in;
  -o-transition:all .3s ease-in;
  -webkit-transition:all .3s ease-in;
  -moz-transition:all .3s ease-in;
}

#lamp.mugs-content5{
  left: 57.2%;
  transition: all .3s ease-in;
  -o-transition:all .3s ease-in;
  -webkit-transition:all .3s ease-in;
  -moz-transition:all .3s ease-in;
}

#lamp.mugs-content6{
  left: 71.5%;
  transition: all .3s ease-in;
  -o-transition:all .3s ease-in;
  -webkit-transition:all .3s ease-in;
  -moz-transition:all .3s ease-in;
}

#lamp.mugs-content7{
  left: 85.8%;
  transition: all .3s ease-in;
  -o-transition:all .3s ease-in;
  -webkit-transition:all .3s ease-in;
  -moz-transition:all .3s ease-in;
}

#lamp.mugs-content1{
  left: 0%;
  transition: all .3s ease-in;
  -o-transition:all .3s ease-in;
  -webkit-transition:all .3s ease-in;
  -moz-transition:all .3s ease-in;
}

// mugs end///////////////////////////////////////////////////////////////////////////////////////////////////////

.beans{
  &_inner{
    background-color: gray;
    width: 100%;
    height:500px;
  }

  &_contents{
    width:50%;
    float: left;
    height: 150px;
    background-color: white;
    text-align: center;
    border-bottom: 3px solid #ddd;
    display: table;
  }

  &_contents p{
    display:block;
    vertical-align: middle;
  }

  &_button {
    position: relative;
    display: inline-block;
    padding: .5em 4em;
    border: 2px solid #333;
    color: #333;
    text-align: center;
    text-decoration: none;
    transition: .3s;
  }
  
  &_button:hover {
    color: #fff;
    background: #333
  }
  

  &_button::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: '';
    background: #333;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform .3s;
  }
  &_button:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }
}
