@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family:"Oranienbaum","姫明朝しらゆき mini",sans-serif;
  scroll-behavior: smooth;
}
.all-wrapper{width: 100%;overflow: hidden;}
// *========= sidebar ============ //

.titles h1{
  text-align: center;
  margin: 35px;
  font-weight: bold;
  font-size: 6vw;
  color: #000;
}
.btn{
  position: absolute;
  top: 15px;
  left: 45px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #1B1B1B;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}
.btn.click{left: 260px;}
.btn span{
  color: white;
  font-size: 28px;
  line-height: 45px;
}
.btn.click span:before{content: '\f00d';}
.sidebar{
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  background: black;
  transition: left 0.4s ease;
}
.sidebar.show{ left: 0px;}
.logo a{
  display: block;
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  letter-spacing: 1px;
}
nav ul{
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li{
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
  font-family: "姫明朝しらゆき mini";
}
nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
nav ul li.active a{
  color:#6927FF;
  background: #1E1E1E;
  border-left-color:#6927FF;
}
nav ul li a:hover{
  background: #1E1E1E;
}
nav ul ul{
  position: static;
  display: none;
}
nav ul .feat-show.show{
  display: block;
}
nav ul .serv-show.show1{
  display: block;
}
nav ul ul li{
  line-height: 42px;
  border-top: none;
}
nav ul ul li a{
  font-size: 17px;
  color: #E6E6E6;
  padding-left: 80px;
}
nav ul li.active ul li a{
  color: #E6E6E6;
  background: #1B1B1B;
  border-left-color: transparent;
}
nav  ul li a:hover{
  color:#6927FF!important;
  background: #1E1E1E!important;
}
// *========= End of sidebar ============ //
.contents-wrapper{width: 100%;transition: 0.4s ease;}
.contents-wrapper.show{width: 85%;margin-left: 15%;}
// *========= title ============ //
.top-tytle{
  background: url(images/top.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.top-tytle h1{
  color: white;
  font-size: 10vw;
  position: relative;
  top: 55vh;
  left: 40vh;
  text-shadow:3px 3px 20px #6927FF;
}
// *========= End of title ============ //
// *========= Recipes ============ //
.recipes{
  margin-top: 2.5%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  &_inner{position: relative;}
  &_icon{background-color:black; margin: 3%;}
  &_icon h4{
    position: absolute;
    top:50%;
    left: 50%;
    font-size: 4vw;
    opacity: 0;
    
  }
  &_icon h4:hover{opacity: 1;}
  &_icon img{
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: left;
    opacity: 1;
  }
  &_icon img:hover{opacity: 0.6; transition: all 0.3s;}
  &_icon.whip img{object-position: bottom;}
}
// *========= End of Recipes ============ //
//*========= How to drip===============//
.drip{
  &_inner{
  display: flex;
  height: 70vh;
  }
  &_section{
  flex: 1;
  position: relative;
  cursor: pointer;
  transition: 0.5s ease;
  border: 7px solid;
  border-color:black;
  box-shadow:5px;
  }
  
  &_step1{
    background-image: url("images/drip-1.jpg");
    background-size: cover;
  }
  &_step2{
    background-image:url("images/howtodrip.jpg");
    background-size: cover;
  }
  &_step3{
    background-image:url("images/howtodrip3.jpg");
    background-size: cover;
  }
  &_step4{
    background-image:url("images/howtodrip4.jpg");
    background-size: cover;
  }
  &_section:hover{
  flex: 4;
  }
  &_section h3{
    transform: translate(-50%,-50%)
    rotate(90deg);
    font-size: 55px;
    font-family: tahoma;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    transition: 0.5s ease;
    text-shadow: 10px 10px 10px black;
  }
  &_section_inner{
    height: 100%;
    opacity: 0;
    padding:8% 5% 5% 20%;
    & h4{
      font-size: 2.5vw;
      margin-bottom: 3%;
      text-shadow: 0px 0px 3px black;
    }
    p{
      font-size: 2vw;
    }
  }
  &_section_inner:hover{
    opacity: 1;
    animation: ease-in;
    transition:all .8s ease-in;}
  &_section:hover h3{
    position: absolute;
    left: 10%;
    top: 50%;
    margin: 0;
    transition: 0.5s ease;
  }
}
//*========= End of How to drip===============//
// *========= mugs ============ //
.mugs{padding: 0% 5%;
  &-tabs{
    position: relative;
  }
  &-tabs-bottons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-tabs-bottons span{
    font-size:1.6dvw;
    color: #333;
    display: block;
    text-align: center;
    white-space: nowrap;
  }
  &-tabs-wrap{
    flex-grow: 1;
    border-bottom: 3px solid #ddd;
    width: 14.2%;
    height: 40px;
  }
  &-contents{
    height: 470px;
    padding: 2% 0%;
  }
  &-contents p{
    display: block;
    width: 50%;
    font-size:1.3vw;
    padding: 2.5% 2%;
    text-align:left;
    color: black;
  }
  &-content1, &-content2, &-content3, &-content4, &-content5, &-content6, &-content7{
    display: flex;
  }
  &-contents video{
    display: block;
    width: 50%;
  }
}
.cb{clear: both;}
#lamp{
  width:14.2%;
  height:2px;
  background:#6927FF;
  display:block;
  position:absolute;
  top:40px;
  transition:all .3s ease-in;
  -o-transition:all .3s ease-in;
  -webkit-transition:all .3s ease-in;
  -moz-transition:all .3s ease-in;
}
#lamp.mugs-content2{
  left: 14.3%;
  transition: all .3s ease-in;
  -o-transition:all .3s ease-in;
  -webkit-transition:all .3s ease-in;
  -moz-transition:all .3s ease-in;
}
#lamp.mugs-content3{
  left: 28.6%;
  transition: all .3s ease-in;
  -o-transition:all .3s ease-in;
  -webkit-transition:all .3s ease-in;
  -moz-transition:all .3s ease-in;
}
#lamp.mugs-content4{
  left: 42.9%;
  transition: all .3s ease-in;
  -o-transition:all .3s ease-in;
  -webkit-transition:all .3s ease-in;
  -moz-transition:all .3s ease-in;
}
#lamp.mugs-content5{
  left: 57.2%;
  transition: all .3s ease-in;
  -o-transition:all .3s ease-in;
  -webkit-transition:all .3s ease-in;
  -moz-transition:all .3s ease-in;
}
#lamp.mugs-content6{
  left: 71.5%;
  transition: all .3s ease-in;
  -o-transition:all .3s ease-in;
  -webkit-transition:all .3s ease-in;
  -moz-transition:all .3s ease-in;
}
#lamp.mugs-content7{
  left: 85.8%;
  transition: all .3s ease-in;
  -o-transition:all .3s ease-in;
  -webkit-transition:all .3s ease-in;
  -moz-transition:all .3s ease-in;
}
#lamp.mugs-content1{
  left: 0%;
  transition: all .3s ease-in;
  -o-transition:all .3s ease-in;
  -webkit-transition:all .3s ease-in;
  -moz-transition:all .3s ease-in;
}
// *========= End of mugs ============ //
// *========= beans ============ //
.beans{
  margin:20px;
  margin-top: 20vh;
  overflow:hidden;
  background:url(images/beanswithflower.jpg) no-repeat center;
  background-size:cover;
  position:relative;
  z-index:0;
  height: auto;
  color: white;
  text-shadow:5px 2px 3px #808080;;
  &_titles{
    color: white;
  }
  &_filter{
    background-color:rgba(0,0,0,0.6);
    overflow: hidden;
  }
  &_inner_wrap{
    display: grid;
    grid-template-columns: repeat(auto-fit,400px);
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    grid-gap: 1px;
  }
  &_inner {
  // width:23.5%;
  height:250px;
  margin:10px;
  position: relative;
  border: 10px double;
  border-color: white;
  box-shadow:5px;
  // float: left;
  }
  &_inner p{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: 4vw;
  }
  &_inner:last-child{
    margin-bottom: 35px;
  }
  &_caption{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  }
  &_caption p{
    font-family: serif;
    font-size:1.5vw;
    text-align: left;
    margin: 10% 0% 10% 5% ;
    
  }
  // fontawesome
  &_star{font-family: "Font Awesome 5 Free";
  font-size: 1.5vw;
  color: #6927FF;
  text-shadow: none;
  }
  &_star:before{
  font-weight: 900;
  }
  &_star:after{
  font-weight: 400;
  }
 
&_star[data-rate="0.0"]:before{ content: ""; }
&_star[data-rate="0.5"]:before{ content: "\f5c0"; }
&_star[data-rate="1.0"]:before{ content: "\f005"; }
&_star[data-rate="1.5"]:before{ content: "\f005\f5c0"; }
&_star[data-rate="2.0"]:before{ content: "\f005\f005"; }
&_star[data-rate="2.5"]:before{ content: "\f005\f005\f5c0"; }
&_star[data-rate="3.0"]:before{ content: "\f005\f005\f005"; }
&_star[data-rate="3.5"]:before{ content: "\f005\f005\f005\f5c0"; }
&_star[data-rate="4.0"]:before{ content: "\f005\f005\f005\f005"; }
&_star[data-rate="4.5"]:before{ content: "\f005\f005\f005\f005\f5c0"; }
&_star[data-rate="5.0"]:before{ content: "\f005\f005\f005\f005\f005"; }

&_star[data-rate="0.0"]:after{ content: "\f005\f005\f005\f005\f005"; }
&_star[data-rate="0.5"]:after{ content: "\f005\f005\f005\f005"; }
&_star[data-rate="1.0"]:after{ content: "\f005\f005\f005\f005"; }
&_star[data-rate="1.5"]:after{ content: "\f005\f005\f005"; }
&_star[data-rate="2.0"]:after{ content: "\f005\f005\f005"; }
&_star[data-rate="2.5"]:after{ content: "\f005\f005"; }
&_star[data-rate="3.0"]:after{ content: "\f005\f005"; }
&_star[data-rate="3.5"]:after{ content: "\f005"; }
&_star[data-rate="4.0"]:after{ content: "\f005"; }
&_star[data-rate="4.5"]:after{ content: ""; }
&_star[data-rate="5.0"]:after{ content: ""; }
  // fontawesome

  &_mask{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  opacity:0;
  background-color:black;
  -webkit-transition: all .3s ease;
  transition:   all .3s ease;
  }
  &_inner:hover &_mask {opacity:1;padding-left:10px;}
  &_cb{clear: both;}
}
// *========= End of beans ============ //
// *========= history ============ //
.history{
  &_bg {
    &_style_1, &_style_2, &_style_3, &_style_4, &_style_5{
      padding: 5px;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-color: black;
    }
    &_style_1{background-image: url('images/history1.jpg');background-position: right;background-size:50%;}
    &_style_2{background-image: url('images/history2.jpg');background-size:70%;}
    &_style_3{background-image: url('images/history3.jpg');background-position: right;background-size:50%;}
    &_style_4{background-image: url('images/history4.jpg');background-size:50%;}
    &_style_5{background-image: url('images/history5.jpg');background-position: right;background-size:80%;}
  }
  &_boxs{display: grid;grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));}
  &_box{background-color: black;padding:2% 6% 2.5% 6%;;
    h3{
      font-size: 2.5vw;
      text-align: center;
      margin: 3%;;
      white-space: nowrap;
    }
    p{
      display: block;
      font-size: 1.6vw;
      margin: 0px;}
  }
}
// *========= End of history ============ //
// *========= @media ============ //