@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Oranienbaum","姫明朝しらゆき mini",sans-serif;
}

.all-wrapper {
  width: 100%;
  overflow: hidden;
}

.titles h1 {
  text-align: center;
  margin: 35px;
  font-weight: bold;
  font-size: 6vw;
  color: #000;
}

.btn {
  position: absolute;
  top: 15px;
  left: 45px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #1B1B1B;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: left 0.4s ease;
  transition: left 0.4s ease;
}

.btn.click {
  left: 260px;
}

.btn span {
  color: white;
  font-size: 28px;
  line-height: 45px;
}

.btn.click span:before {
  content: '\f00d';
}

.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  background: black;
  -webkit-transition: left 0.4s ease;
  transition: left 0.4s ease;
}

.sidebar.show {
  left: 0px;
}

.logo a {
  display: block;
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  letter-spacing: 1px;
}

nav ul {
  height: 100%;
  width: 100%;
  list-style: none;
}

nav ul li {
  line-height: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-family: "姫明朝しらゆき mini";
}

nav ul li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

nav ul li.active a {
  color: #6927FF;
  background: #1E1E1E;
  border-left-color: #6927FF;
}

nav ul li a:hover {
  background: #1E1E1E;
}

nav ul ul {
  position: static;
  display: none;
}

nav ul .feat-show.show {
  display: block;
}

nav ul .serv-show.show1 {
  display: block;
}

nav ul ul li {
  line-height: 42px;
  border-top: none;
}

nav ul ul li a {
  font-size: 17px;
  color: #E6E6E6;
  padding-left: 80px;
}

nav ul li.active ul li a {
  color: #E6E6E6;
  background: #1B1B1B;
  border-left-color: transparent;
}

nav ul li a:hover {
  color: #6927FF !important;
  background: #1E1E1E !important;
}

.contents-wrapper {
  width: 100%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.contents-wrapper.show {
  width: 85%;
  margin-left: 15%;
}

.top-tytle {
  background: url(images/top.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.top-tytle h1 {
  color: white;
  font-size: 80px;
  position: relative;
  top: 55vh;
  left: 40vh;
  text-shadow: 3px 3px 20px #6927FF;
}

.recipes {
  margin-top: 2.5%;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (minmax(450px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.recipes_icon img {
  display: block;
  width: 100%;
  height: 500px;
  padding: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

.recipes_icon.whip img {
  -o-object-position: bottom;
     object-position: bottom;
}

.drip_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
}

.drip_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border: 7px solid;
  border-color: black;
  -webkit-box-shadow: 5px;
          box-shadow: 5px;
}

.drip_section_inner {
  visibility: hidden;
}

.drip_step1 {
  background-image: url("images/drip-1.jpg");
  background-size: cover;
}

.drip_section:hover {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.drip_section h3 {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  font-size: 55px;
  font-family: tahoma;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.drip_section_inner {
  margin: 10% 10% 10% 20%;
}

.drip_section_inner h4 {
  font-size: 35px;
  text-align: center;
}

.drip_section_inner p {
  font-size: 25px;
}

.drip_section:hover h3 {
  position: absolute;
  left: 10%;
  top: 50%;
  margin: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.mugs {
  padding: 0% 5%;
}

.mugs-tabs {
  position: relative;
  padding: 0% 2%;
}

.mugs-tabs-bottons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mugs-tabs-bottons span {
  font-size: 1.5vw;
  color: #333;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.mugs-contents {
  height: 430px;
  padding: 2% 0%;
}

.mugs-contents p {
  display: block;
  width: 50%;
  font-size: 1.3vw;
  padding: 2.5% 2%;
  text-align: left;
  color: black;
}

.mugs-content1, .mugs-content2, .mugs-content3, .mugs-content4, .mugs-content5, .mugs-content6, .mugs-content7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mugs-contents video {
  display: block;
  width: 50%;
}

.cb {
  clear: both;
}

#lamp {
  width: 14.3%;
  height: 2px;
  background: #6927FF;
  display: block;
  position: absolute;
  top: 40px;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}

#lamp.mugs-content2 {
  left: 14.3%;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}

#lamp.mugs-content3 {
  left: 28.6%;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}

#lamp.mugs-content4 {
  left: 42.9%;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}

#lamp.mugs-content5 {
  left: 57.2%;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}

#lamp.mugs-content6 {
  left: 71.5%;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}

#lamp.mugs-content7 {
  left: 85.8%;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}

#lamp.mugs-content1 {
  left: 0%;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}

.beans {
  margin: 20px;
  overflow: hidden;
  background: url(images/beanswithflower.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
  height: auto;
  color: white;
  text-shadow: 5px 2px 3px #808080;
}

.beans_filter {
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.beans_inner {
  width: 23.5%;
  height: 250px;
  margin: 10px;
  position: relative;
  border: 10px double;
  border-color: white;
  -webkit-box-shadow: 5px;
          box-shadow: 5px;
  float: left;
}

.beans_inner p {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 60px;
}

.beans_inner:last-child {
  margin-bottom: 35px;
}

.beans_caption {
  font-size: 130%;
  color: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.beans_mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: black;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.beans_inner:hover .beans_mask {
  opacity: 1;
  padding-left: 20px;
}

.beans_cb {
  clear: both;
}

.history_bg_style_1, .history_bg_style_2, .history_bg_style_3, .history_bg_style_4, .history_bg_style_5 {
  padding: 5px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
}

.history_bg_style_1 {
  background-image: url("images/history1.jpg");
  background-position: right;
  background-size: 100% auto;
}

.history_bg_style_2 {
  background-image: url("images/history2.jpg");
  background-size: 100% auto;
}

.history_bg_style_3 {
  background-image: url("images/history3.jpg");
  background-position: right;
  background-size: 100% auto;
}

.history_bg_style_4 {
  background-image: url("images/history4.jpg");
  background-size: 100% auto;
}

.history_bg_style_5 {
  background-image: url("images/history5.jpg");
  background-position: right;
  background-size: 100% auto;
}

.history_boxs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.history_box {
  background-color: black;
  padding: 2% 6% 2.5% 6%;
}

.history_box h3 {
  font-size: 2.5vw;
  text-align: center;
  margin: 3%;
  white-space: nowrap;
}

.history_box p {
  display: block;
  font-size: 1.6vw;
  margin: 0px;
}
/*# sourceMappingURL=main.css.map */